.bundle
.DS_Store
*.esproj
*.espressostorage
db/*.sqlite3
log/*.log
tmp/
uploads/
*~
\#*\#
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
